@if (items().length === 0) {
  <p class="log-list-empty">{{ emptyMessage() }}</p>
} @else {
  <mat-nav-list class="log-list" aria-label="Live activity feed">
    @for (item of items(); track item.id) {
      <button mat-list-item type="button" class="log-list__item" (click)="onSelect(item)">
        <mat-icon matListItemIcon>{{ iconFor(item) }}</mat-icon>
        <span matListItemTitle>{{ titleFor(item) }}</span>
        <span matListItemLine>{{ subtitleFor(item) }}</span>
        <span matListItemMeta>{{ item.timestamp | date: 'HH:mm:ss' }}</span>
      </button>
    }
  </mat-nav-list>
}
